[Unit]
Description=gobkd
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/opt/gobkd/current
ExecStart=/opt/gobkd/current/gobkd
Restart=always
RestartSec=3
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=true
ReadWritePaths=/opt/gobkd/shared

[Install]
WantedBy=multi-user.target
